body {
    margin: 0;
    background: #E5E1DC;
}

.header-container-offline {
    background-color: #D6CE99;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 44px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-xs {
    display: flex;
}


.btn-orange-subscribe {
    left: 20%;
}

/*
.btn-orange-log-in {
}
*/


