body {
    margin: 0;
    background: #E5E1DC;
}

.header-container-offline {
    background-color: #D6CE99;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 52px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.header-container-button {
    position: relative;
    right: 5%;
}

.logo-xs {
    display: flex;
    position: relative;
    left: 5%;
}

.btn-orange {
    background-color: #D96C06;
    color: white;
    padding: 0.7em 1.3em;
    margin: 4px;
    border-radius: 3px;
    border: none;
    transition: background-color 0.2s;
}

.btn-orange:hover {
    background-color: #ae5604;
}


.btn-orange-log-in {
    background-color: #C99C72;
    color: white;
    padding: 0.7em 1.3em;
    margin: 4px;;
    border-radius: 3px;
    border: none;
    transition: background-color 0.2s;
}

.btn-orange-log-in:hover {
    background-color: #c08b59;
}

.search-bar-primary {
    position: relative;
    padding: 0.55em;
    border-radius: 3px;
    border: 1px;
    border-color: #545454;
    border-style: solid;
    border-width: 1px;
}



