body {
    margin: 0;
    background: #E5E1DC;
    font-family: lato;
}

h1 {
    font-family: nova_mono;
}

.main {
    padding-top: 52px;
    margin-right: 208px;
    margin-left: 208px;
    min-height: 100vh;
}

.horizontal-rule {
    color: #9F9F9F;
    margin: 8px 0 40px;
}

.header-container-offline {
    background-color: #D6CE99;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 52px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.logo-xs {
    display: flex;
    margin: 0 70px 0;
}

.btn-orange {
    background-color: #D96C06;
    color: white;
    padding: 0.7em 1.3em;
    margin: 8px;
    border-radius: 3px;
    border: none;
    transition: background-color 0.2s;
}

.btn-orange:hover {
    background-color: #ae5604;
    cursor: pointer;

}

.btn-orange-log-in {
    background-color: #C99C72;
    color: white;
    padding: 0.7em 1.3em;
    margin: 8px;;
    border-radius: 3px;
    border: none;
    transition: background-color 0.2s;
    white-space: nowrap;
}

.btn-orange-log-in:hover {
    background-color: #B97E46;
    cursor: pointer;
}

.search-bar-primary {
    position: relative;
    padding: 0.55em;
    margin: 8px;
    border-radius: 3px;
    border: 1px;
    border-color: #545454;
    border-style: solid;
    border-width: 1px;
    flex-basis: 700px;
    padding-left: 32px;
    background-image: url('images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 8px;
}

.search-bar-primary:focus {
    outline: solid;
    outline-width: 3px;
    outline-color: rgba(217, 108, 6, 0.6);
}
/**
changer aussi le focus des boutons
**/

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: #D6CE99;
    z-index: 2;
    padding: 80px 24px;
}

.sidenav a {
    display: block;
    font-weight: bold;
    font-size: 20;
    text-decoration: none;
    color: black;
    padding: 16px 8px;
}

.sidenav a:hover {
    color: #D96C06;
}

.sidenav a:active {
    color: #ae5604;
}

#here {
    color: #D96C06;
}

#here:hover {
    color: #ae5604;
}

#here:active {
    color: #7D3E03;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 84px;
    padding-bottom: 68px;
}

.title-text-container {
    position: relative;
    right: 24px;
}

.title-logo-container {
    position: relative;
    left: 24px;
}

.title-title {
    font-size: 72;
    margin: 16px;
    margin-top: 0;
    font-weight: normal;
    text-align: center;
}

.title-subtitle {
    font-size: 24;
    margin: 16px;
    font-weight: normal;
    text-align: center;
}

.content-post-container {
    padding: 0 80px 80px;
}

.title-btn-post-container {
    display: flex;
    justify-content: space-between;
}

.header-title-post {
    font-size: 24;
    margin: 10px 0;
}

.post-container {
    background-color: #D6CE99;
    padding: 32px 32px 16px 24px;
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BF956C;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.post-container:first-child {
    border-radius: 6px 6px 0 0;
}

.post-container:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom-style: none;
}

.post-title {
    font-size: 20px;
    order: 2;
}

.post-title:hover {
    cursor: pointer;
    color: rgb(66, 66, 66);
}

.views-votes-container {
    order: 1;
    margin-right: 24px;
    white-space: nowrap;
    height: 24px;
    /*width: 400px;*/ /*try here a padding for all the post-container exept for this class ?*/
}

.post-stat {
    margin-bottom: 16px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 8px 0 0 94px;
    font-size: 14;
}

.tag-container div {
    background-color: #e1812699;
    color: #4e2b0a;
    padding: 0.4em 0.8em;
    margin: 4px;
}

.tag-container div:hover {
    background-color: #ac631f99;
    color: #311b06;
}

.user-container {
    display: flex;
    align-items: center;
    background-color: #4E1E18C7;
    border-radius: 6px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-top: 16px;
    padding: 8px;
    max-height: 54px;
    transition: background-color 0.2s;
    cursor: pointer;
    /* see if a min-width is necessary but I thinks yes to prevent shrink */
}

.user-container:hover {
    background-color: #351410C7;

}

.profile-picture-small {
    border-style: solid;
    border-radius: 8px;
    width: 48px;
    height: 48px;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    background-color: #D6CE99;
    margin: 40px 224px;
    padding: 32px;
}

.subscribe-container div {
    margin: 8px 0 8px 0;
}

.subscribe-field {
    width: 512px;
    height: 32px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #545454;

}

/*element below at the end of the file style.css */

.footer-container {
    display: flex;
    position: relative; /* for windows fullscreen, maybe put some javascript condition */
    z-index: 3;
    background-color: #071013;
    color: white;
    padding-left: 208px;
    padding-right: 208px;
}

.text-footer-container div:first-child {
    margin-bottom: 8px;
}

.text-footer-container {
    margin: 16px 24px;
}
